<div class="overall"> 
<div class="container">
<form action="/signup" method="POST" id="form">
  
  <h2>Sign Up</h2>
  <a href="/" class="wilson"><img src="/images/wilson.png" class="img" alt="wilson"></a>
  <div class="login-box"> 
    <input class="login" type="text" name="username" placeholder="username">
  <div class="pass">
    <input class="login" type="password" name="password" placeholder="password">
  </div>
  <div id="out"></div>
  <% if (errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
    <button class="btn-login">Create account</button>
  </div>
  <p class="btns-secondary">
</p>
</form>
<div class="history">
  <a href="/" class="link-color">Back</a>
</div>
</div>
</div>
<script src="/js/geolocation.js"></script>
