<div class="container">
  <h1>Bottl</h1>
  <p>Send your messages around the world</p>
  <img src="images/main-logo-notxt.png" alt="bottle" class="main-img">
  <div>
    <% if (!currentUser) {%>
      <div class="btns-box">
        <a href="login" class="btn-login">Login</a>
        <a href="signup" class="link-color singup-btc">Sign up</a>
        </div>
        <div class="btns-secondary">
          <a href="instructions" class="link-color">Instructions</a>
        </div>
      
    <%} else { %>
      <a href="logout">Logout</a>
    <%}%>
  </div>
</div>
<footer>
  <p class="footer">Made with love at IronHack</p>
</footer>