
<h1>bottl</h1>
<p>Explanation about how it works</p>
<img src="https://freeiconshop.com/wp-content/uploads/edd/bottle-flat.png" alt="bottle">
<div> 
<a href="login">Login</a>
<a href="signup">Signup</a>
</div>
<p>Made with love at IronHack</p>