
<div class="container"> 
<h1>Bottl</h1>
<p>Explanation about how it works</p>
<img src="images/main-logo-notxt.png" alt="bottle" class="main-img">
<div> 
<% if (!currentUser) {%>
<a href="login">Login</a>
<a href="signup">Signup</a>
<a href="instructions">Instructions</a>
<%} else { %>
<a href="logout">Logout</a>
<%}%>
</div>
</div>
<footer> 
<p>Made with love at IronHack</p>
</footer>