<div class="container"> 
<h3>how does it work</h3>

<a href="/"><img src="/images/bottle-instructions.png" class="img-inst" alt="wilson"></a>  

<p>You are in a desert island and the only way to communicate with the world is by sending or replying bottles. The messages you send will be randomly asigned to other people within our community.
</p>
<p> 
To start, in the main menu, click Send and write a message in a new bottle, or click Pick and chose an existing bottle out there and add your message to it.

Furthermore, you can check where your bottles have been by clicking the history icon at the bottom.</p>

<div class="history">
  <a href="/bottles" class="link-color">Back</a>
  <a href="../logout" class="link-color">Logout</a>
</div>
</div>
</div>