<div class="container"> 
<h3>how does it work</h3>

<a href="/"><img src="/images/bottle-instructions.png" class="img-inst" alt="wilson"></a>  


<p>In the main menu, click Send and write a message in a new bottle, or click Pick and chose an existing bottle out there and add your message to it.</p>
<p>You can check where your bottles have been by clicking the orange icon at the bottom.</p>

<div class="history">
  <a href="/bottles" class="link-color">Back</a>
  <a href="../logout" class="link-color">Logout</a>
</div>
</div>
</div>