<div class="container"> 
<h3>how does it work</h3>

<a href="/"><img src="/images/bottle-instructions.png" class="img-inst" alt="wilson"></a>  


<p>Write a message and throw a bottle, or chose an existing bottle out there and add to it.</p>

<div class="history">
  <div class="arrow-left "><a href="/bottles">AAA</a></div>
  <p><a href="../logout"><img src="/images/exit.png" class="img-exit" alt="exit"></a></p>
  </div>
</div>
</div>