
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
}

@media screen and (max-width:320px) {
  body {
      font-size: 14px !important;
  }
}


h1{
  font-family: 'Bahiana', cursive;
  font-size: 7rem;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:320px) {
  h1 {
      font-size: 5rem !important;
  }
}

h2{
  font-family: 'Bahiana', cursive;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h3{
  font-family: 'Bahiana', cursive;
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:320px) {
  h3 {
      font-size: 2.1rem !important;
  }
}

.h3-history{
  margin-bottom: 1rem;
}

.btn-login{
  background-color: #35d0ba;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  color: white;
  width: 100%;
  font-weight: bolder;
  border: 0;
  text-decoration: none;
  text-align: center;
  align-self: center;
  font-size: 1.1rem;

}

.btns-box{
display: grid;
grid-template-rows: 40px 20px;
grid-row-gap: 0.5rem;
grid-template-columns: 200px;
}

.btn-box{
  height: 150px;
}

.btns-secondary{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.singup-btc{
  text-align: center;
}

.bottle-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottle-main a{
 text-align: center;
}

.img-history{
  height: 9rem;
}

.img-exit{
  width: 3rem;
  height: 3rem;
}

.img-inst{
  height: 35vh;
}

.exit-pos{
  margin-right: 0.8rem;
}

.link-color{
  color: #35d0ba;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #ffcd3c;
}

.overall{
  margin: 0 auto;
  max-width: 375px;
  max-height: 667px;
  min-width: 320px;
  min-height: 568px;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem;
  padding: 0;
}

.main-img {
  height: 40vh;
}

.img{
  width: 83%;
  height: 83%;
  align-self: center;
}

.img-btl{
  height: 31vh;
}


.login{
  font-size: 1rem;
  width: 100%;
  border: 1px solid #35d0ba;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px;
}

.history{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;

}


.arrow-left{
  color: #35d0ba;
}

.alert {
  position: fixed;
  top: 0.2rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: ease;

}

@keyframes slide{
 from{
   transform: translateX(500px);
 }
 to{
   transform: translateX(0);
  }

}

.alert-danger {
  background-color: rgb(255, 167, 151);
  color: rgb(187, 0, 0);
}

.alert-success {
  background-color: #35d0b944;
  color: black;
}


.answer-box {
  height: 220px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #35d0b948;
  margin: 1rem 0;
  border-radius: 9px;
  padding: 0.8rem;
  
}
.answer-box p{
  list-style: none;
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
  padding: 0;
}

#user-li {
  font-size: 0.8rem;
  color: #ff9234;
  font-weight: bolder;
  margin-bottom: 0;
}

.msg-box{.map-btn
  width: 100%;
  height: 63.8vh;
  overflow: auto;
  margin-bottom: 1.3rem;
  
}




.history-link{
  text-decoration: none;
  margin: 0.2rem 0;
  color: black;
  background-color: #35d0b944;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  max-height: 2rem;
  max-width: 19rem;
}

.help{
  position: absolute;
  align-self: flex-end;
  height: 2.5rem;
  margin-top: 1rem;
}

.help-small{
  position: absolute;
  align-self: flex-start;
  height: 2.5rem;
  margin-left: -1rem;
}

.bottle-detail{
  display: flex;
  flex-direction: column;
}

.history-b-detail{
  margin-top: -3.2rem;
  margin-left: -1.5rem;
}

.help-text{
  width: 50vw;
  margin-top: 2.1rem;
  background-color: #fefed5;
  color: black;
  position: absolute;
  align-self: center;
  display: none;
  border-radius: 10px;
  text-align: left;
  padding: 0.5rem;
}

.more-help{
  margin-top: 1rem;
  margin-left: -0.5rem;
}

.help3{
  align-self: auto;
}

.hide{
  display: initial;
}

#form{
  display: flex;
  justify-items: center;
  flex-direction: column;

}

.wilson{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-map{
  height: 8vh;
}

.map-lnk{
  margin-top: 3.3rem;
}

.map-btn{
  position: absolute;
  padding: 1rem;
  background-color: #f8683f;
  text-decoration: none;
  color: #ffcd3c;
  bottom: 0;
  width: 100%;
  height: 10%;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

#map {
  widows: 100%;
  height: 90%;
  margin-bottom: 10%;
}