body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img {
  height: 8rem;
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.alert-danger {
  background-color: rgb(255, 167, 151);
  color: rgb(187, 0, 0);
}

.alert-success {
  background-color: rgb(172, 255, 151);
  color: black;
}
