
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}

h1{
  font-family: 'Bahiana', cursive;
  font-size: 7rem;
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Bahiana', cursive;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h3{
  font-family: 'Bahiana', cursive;
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
}

.h3-history{
  margin-bottom: 1rem;
}

.btn-login{
  background-color: #35d0ba;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  color: white;
  width: 100%;
  font-weight: bolder;
  border: 0;
  text-decoration: none;
  text-align: center;
  align-self: center;
  font-size: 1.1rem;

}

.btns-box{
display: grid;
grid-template-rows: 40px 20px;
grid-row-gap: 0.5rem;
grid-template-columns: 200px;
}

.btns-secondary{
  text-align: center;
  margin-top: 40px;
}

.singup-btc{
  text-align: center;
}

.bottle-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottle-main a{
 text-align: center;
}

.bottle-main img{
  width: 83%;
  height: 83%;
}

.img-history{
  height: 9rem;
}

.img-exit{
  width: 3rem;
  height: 3rem;
}

.img-inst{
  height: 35vh;
}

.exit-pos{
  margin-right: 0.8rem;
}

.link-color{
  color: #35d0ba;
}

footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #ffcd3c;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem;
  padding: 0;
}

.main-img {
  height: 40vh;
}

.img{
  height: 42vh;
}
.login{
  font-size: 1rem;
  width: 100%;
  border: 1px solid #35d0ba;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px;
}

.history{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  position: absolute;
  bottom: 2rem;

}


.arrow-left{
  color: #35d0ba;
}

.alert {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
}

.alert-danger {
  background-color: rgb(255, 167, 151);
  color: rgb(187, 0, 0);
}

.alert-success {
  background-color: #35d0ba;
  color: black;
}


.answer-box {
  height: 220px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #35d0b948;
  margin: 1rem 0;
  border-radius: 9px;
  padding: 0.8rem;
  
}
.answer-box p{
  list-style: none;
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
  padding: 0;
}

#user-li {
  font-size: 0.8rem;
  color: #ff9234;
  font-weight: bolder;
  margin-bottom: 0;
}

.msg-box{
  width: 100%;
  height: 63.8vh;
  overflow: auto;
  margin-bottom: 1.3rem;
  
}

.history-link{
  text-decoration: none;
  margin: 0.2rem 0;
  color: black;
  background-color: #35d0ba;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  max-height: 2rem;
}