<h2>Answer a message(<%= bottles[0].thread %>)</h2>

<div>
<h4>historic of messages go here!</h4>

<ul>
  <% bottles.forEach((bottle) => { %>
  <li><%= bottle.content %></li>
  <% }) %>  
</ul>



</div>


<form action="/bottles/answer" method="post">
  <div class="form-row">
    <label for="">This is your bottle..</label>
    <input type="hidden" name="currentThread" value="<%= bottles[0].thread %>">
    <textarea id="bottle" name="content" rows="5" cols="50">I am trapped in an Island and run out of coconuts, please send me some...</textarea>
  </div> 
  <input type="submit" value="add">
</form>

<div><a href="/bottles">Back</a></div>
