<div class="overall">
  <div class="container">
    <h3>What do you want to do?</h3>

    <div class="bottle-main">
      <div class="bottle-detail">
        <img src="/images/question-mark.png" class='help' alt="help" id="q-answer">
        <div class="help-text help1">
          <p>Answer to a random message, try to be nice please.</p>
        </div>
        <a href="bottles/answer"><img class="img-btl" src="/images/full-bottle2.png" alt="bottle-answer"></a>
      </div>
      <div class="bottle-detail">
        <img src="/images/question-mark.png" class='help' alt="help" id="q-bottle">
        <div class="help-text help2">
          <p>Write your first message and start a conversation.. Feel free to open your heart, no judging here.</p>
        </div>
        <a href="bottles/new"><img class="img-btl" src="/images/empty-bottle2.png" alt="bottle-new"></a>
      </div>
    </div>

    <div class="history">
      <div class='bottle-detail'>
        <img src="/images/question-mark.png" class='help-small' alt="help" id="q-history">
        <div class="help-text help3">
          <p>Take a look at the bottles you started so far, have they travelled far?</p>
        </div>
        <a href="bottles/history"><img class="img-history" src="/images/bottles2.png" alt="bottle-history"></a>
      </div>
      <a href="logout" class="link-color">logout</a>
    </div>
  </div>
</div>