<div class="container">
  <h3>What do you want to do?</h3>
  <div class="bottle-main">
    <a href="bottles/answer"><img class="img" src="/images/full-bottle2.png" alt="bottle-answer"></a>
    <a href="bottles/new"><img class="img" src="/images/empty-bottle2.png" alt="bottle-new"></a>
  </div>
  <div class="history">
    <a href="bottles/history"><img class="img-history" src="/images/bottles2.png" alt="bottle-history"></a>
    <a href="logout" class="link-color">logout</a>
  </div>
</div>