<h2 class="btl-main">What do you want to do?</h2>
<div><a href="bottles/new"><img class="img" src="https://image.flaticon.com/icons/svg/1399/1399372.svg" alt="bottle-new">New</a>
<a href="bottles/answer"><img class="img" src="https://image.flaticon.com/icons/svg/1399/1399261.svg" alt="bottle-answer">Answer</a>
</div>
<a href="logout">Logout</a>