<div class="container">
<h3>History detail</h3>

<div class="msg-box answer-box">

  <% bottles.forEach((bottle) => { %>
  <p id="user-li"><%= bottle.sender %></p>
  <p><%= bottle.content %></p>
  <% }) %>  

</div>

<div class="history">
  <div class="arrow-left "><a href="/bottles/history">AAA</a></div>
  <a href="../logout"><img src="/images/exit.png" class="img-exit" alt="exit"></a>
  </div>
</div>