<div id='map'></div>
<script>
   mapboxgl.accessToken = <%-`"${token}"`%>;
   const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/ismaeljaouhar/cjs3eol5b1dnl1fqy90edt9ef',
      center: [2.154007, 41.390205],
      zoom: 3
   });
new mapboxgl.Marker({anchor: 'center', color:'#f8683f'})
.setLngLat([2.154007, 41.390205])
.addTo(map); 
new mapboxgl.Marker({anchor: 'center', color:'#f8683f'})
.setLngLat([2.154007, 44.390205])
.addTo(map);   
</script>