<div class="overall">
   <div class="history">
      <a id="button-click" class="link-color map-btn">Back</a>
      <div id='map'></div>
   </div>
   
</div>
<script>
   mapboxgl.accessToken = <%-`"${token}"`%>;
   const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/ismaeljaouhar/cjs3eol5b1dnl1fqy90edt9ef',
      center: [2.154007, 41.390205],
      zoom: 3
   });


   <% bottles.forEach((bottle) => { %>
   new mapboxgl.Marker({
         anchor: 'center',
         color: '#f8683f'
      })
      .setLngLat([<%= bottle.senderId.location.coordinates %>]).addTo(map);
   <% }) %>
</script>