<div class="container"> 
  <h3>Write your message</h3>

  <form action="/bottles" method="post">
    <div class="form-row">
      <p>You are in a desert island and the only way to communicate is writing messages that will go in a bottle like this one...</p>
      <textarea id="content" name="content" rows="17" cols="30" class="login" placeholder="Your message here"></textarea>
    </div> 
    <input type="submit" value="Send" class="btn-login">
  </form>
  <p></p>
  <div class="history">
  <a href="/bottles" class="link-color">Back</a>
  <a href="../logout" class="link-color">Logout</a>
</div>
</div>