<h2>Add a message</h2>

<form action="/bottles" method="post">
  <div class="form-row">
    <label for="">This is your bottle..</label>
    <textarea id="bottle" name="message" rows="5" cols="50">I am trapped in an Island and run out of coconuts, please send me some...</textarea>
  </div> 
  <input type="submit" value="add">
</form>

<div><a href="/bottles">Back</a></div>